footer {
    background-color: #1F2021;  
    width: 1280px;
    margin: auto;
    margin-bottom: 114px;
}

.footer-content {
    padding: 83px 80px 92px 80px;
    display: flex;
    justify-content: space-between;
}

.footer-content > .footer-block {
    flex: 0 1 auto;
}

.footer-block > h3 {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    margin: 0;
}

.footer-block > p {
    height: 28px;
    width: 401px;
    margin-top: 26px;
    font-weight: normal;
    font-size: 28px;
    line-height: 91.2%;
    color: #FFFFFF;
}

.footer-block > form {
    display: flex;
}

.footer-block > form > input[type=email]  {
    width: calc( 300px - 66px );
    /*height: 65px;*/
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
    margin-right: 16px;
    flex: 0 1 auto;
    padding: 22px 33px 26px 33px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.footer-block > form > .subscribe-btn {
    width: 250px;
    height: 65px;
    line-height: 65px;
    background-color: #6EBBD3;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    flex: 0 1 auto;
} 

.footer-block > .subscribe {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.footer-block > .subscribe > input[type=checkbox] {
    margin: 0 18px 0 0;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 3px;
    background-color: #6EBBD3;
    flex: 0 1 auto;
}

.footer-block > .subscribe > input[type=checkbox]:after {
    content: " ";
    background-color: #6EBBD3;
    display: inline-block;
    visibility: visible;
}
  
.footer-block > .subscribe > input[type=checkbox]:checked:after {
    content: "\2714";
    width: 18px;
    height: 18px;
    text-align: center;
    color: #ffffff;
    line-height: 18px;
    font-weight: bold;
    font-size: 10px;
}

.footer-block > .subscribe > label[for=subscribe-checkbox] {
    color: #ffffff;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    flex: 0 1 auto;
}