header {
    background-image: url(../imgs/stephen-leonardi.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}

.shading {
    background-color:rgba(31, 32, 33, 0.79);
}

.header-content {
    width: 1280px;
    margin: auto;
}

.header-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    padding-top: 26px;
}

.header-panel > * {
    flex: 0 1 auto;
}

.main-menu {
    flex: 1 1 auto;
    margin-left: 120px;
    margin-right: 120px;
}

.main-menu > a {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    margin-right: 50px;
    cursor: pointer;
}

.tel {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    text-align: right;
}

.tel > * {
    width: 100%;
}

.tel > a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.offtop-tel {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    padding-top: 3px;
}

.header-title > h2 {
    color: #ffffff;
    font-size: 36px;
    line-height: 46px;
    font-weight: bold;
    padding-top: 66px;
    padding-bottom: 66px;
    margin: 0;
}