body {
  font-family: "Montserrat", Arial, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  color: #000000;
  opacity: 0;
  -webkit-transition: 0.55s opacity;
  -o-transition: 0.55s opacity;
  transition: 0.55s opacity;
}

.mess {
  width: 100%;
  position: fixed;
  padding: 25px 0;
  -webkit-transition: 0.55s opacity;
  -o-transition: 0.55s opacity;
  transition: 0.55s opacity;
  opacity: 0;
  top: 0;
  background-color: #6ebbd3;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
